---
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Pruiz portfolio - Fullstack Developer"
  description="Connect with me to collaborate on exciting projects. Let's discuss your next idea!"
>
  <main class="px-4">
    <SectionContainer class="pt-36 md:pt-44 pb-12 md:pb-16" id="me">
      <Hero />
    </SectionContainer>

    <div class="mt-6 md:mt-10 mb-2">
      <Skills />
    </div>

  <div class="space-y-24 mt-8 md:mt-12">
      <SectionContainer id="experience" class="py-16">
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects" class="py-16">
        <Projects />
      </SectionContainer>

      <SectionContainer id="about" class="py-16">
        <About />
      </SectionContainer>

      <SectionContainer id="contact" class="py-16 pb-32 md:pb-40">
        <Contact />
      </SectionContainer>
    </div>
  </main>
</Layout>
