---
const currentYear = new Date().getFullYear();
---

<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-1/2 xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-lime-800/90 dark:text-lime-200/90"
      >© {currentYear}
      Based on the <a
        href="https://github.com/midudev/porfolio.dev"
        class="hover:underline">@midudev</a
      > project.
    </span>
  </div>
</footer>
