<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2 py-5"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-200 flex-wrap flex-row items-center justify-center"
  >
    <a
      href="#"
      class="nav-link flex items-center p-1 rounded-full px-2 sm:px-3 transition ease-in text-sm sm:text-base capitalize"
    >
      <img
        class="rounded-full w-12 h-12"
        src="https://avatars.githubusercontent.com/u/18315106?v=4"
        alt="pruiz "
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white transition hover:text-pink-500 dark:hover:text-pink-400"
        >Pruiz</span
      >
    </a>
    <a
      class="nav-link relative block px-2 py-2 sm:px-3 transition hover:text-pink-500 dark:hover:text-pink-400 sm:text-base"
      href="#experience">Experience</a
    >
    <a
      class="nav-link relative block px-2 py-2 transition hover:text-pink-500 dark:hover:text-pink-400 sm:text-base"
      href="#projects">Projects</a
    >
    <!--  -->
    <a
      class="nav-link relative block px-2 py-2 transition hover:text-pink-500 dark:hover:text-pink-400 sm:text-base"
      href="#about">About</a
    >
    <a
      class="nav-link relative block px-2 py-2 transition hover:text-pink-500 dark:hover:text-pink-400 sm:text-base"
      href="#contact">Contact</a
    >
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sections = document.querySelectorAll("section");
    const navLinks = document.querySelectorAll(".nav-link");

    function changeLinkState() {
      let index = sections.length;
      while (--index && window.scrollY + 50 < sections[index].offsetTop) {}
      navLinks.forEach((link) => link.classList.remove("active"));
      navLinks[index].classList.add("active");
    }

    changeLinkState();
    window.addEventListener("scroll", changeLinkState);
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-gray-800/60 ring-white/10;
    }
  }

  .active {
    color: rgb(236 72 153);
    /* text-decoration: underline; */
  }
</style>
