---
import Vue from "./icons/Vue.astro";
import CSharp from "./icons/CSharp.astro";
import Node from "./icons/Node.astro";
import JavaScript from "./icons/JavaScript.astro";
import TypeScript from "./icons/TypeScript.astro";
import ReactIcon from "./icons/React.astro";
import NextJs from "./icons/NextJs.astro";
import MsSql from "./icons/MsSql.astro";
import Mongo from "./icons/Mongo.astro";
---

<div class="flex flex-col gap-y-16">
  <ul class="flex flex-wrap space-x-1">
    <li
      class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 w-auto"
    >
      <span
        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        <CSharp class="size-8" />
        <span class="flex-1 ms-3 whitespace-nowrap">C#</span>
      </span>
    </li>

    <li
      class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 w-auto"
    >
      <span
        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        <JavaScript class="size-8" />
        <span class="flex-1 ms-3 whitespace-nowrap">JavaScript</span>
      </span>
    </li>

    <li
      class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 w-auto"
    >
      <span
        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        <TypeScript class="size-8" />
        <span class="flex-1 ms-3 whitespace-nowrap">TypeScript</span>
      </span>
    </li>

    <li
      class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 w-auto"
    >
      <span
        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        <Node class="size-8" />
        <span class="flex-1 ms-3 whitespace-nowrap">Node js</span>
      </span>
    </li>
    <li
      class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 w-auto"
    >
      <span
        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        <NextJs class="size-8" />
        <span class="flex-1 ms-3 whitespace-nowrap">Next js</span>
      </span>
    </li>
    <li
      class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 w-auto"
    >
      <span
        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        <ReactIcon class="size-8" />
        <span class="flex-1 ms-3 whitespace-nowrap">React js</span>
      </span>
    </li>

    <li
      class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 w-auto"
    >
      <span
        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        <Vue class="size-8" />
        <span class="flex-1 ms-3 whitespace-nowrap">Vue js</span>
      </span>
    </li>
    <!-- mssql -->
    <li
      class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 w-auto"
    >
      <span
        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        <MsSql class="size-8" />
        <span class="flex-1 ms-3 whitespace-nowrap">Ms Sql</span>
      </span>
    </li>
    <!-- mongodb -->
    <li
      class="transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 w-auto"
    >
      <span
        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
      >
        <Mongo class="size-8" />
        <span class="flex-1 ms-3 whitespace-nowrap">Mongo</span>
      </span>
    </li>
    <!-- tailwind css -->
    <!-- material ui -->
    <!-- boostrap -->
    <!-- graphql -->
  </ul>
</div>
