<div class="astro-component">
    <div class="technology-logo"><img src="react-logo.png" alt="React"></div>
    <div class="technology-logo"><img src="next-logo.png" alt="Next.js"></div>
    <div class="technology-logo"><img src="dotnet-logo.png" alt=".NET"></div>
    <div class="technology-logo"><img src="nodejs-logo.png" alt="Node.js"></div>
    <div class="technology-logo"><img src="javascript-logo.png" alt="JavaScript"></div>
    <div class="technology-logo"><img src="python-logo.png" alt="Python"></div>
    <div class="technology-logo"><img src="css-logo.png" alt="CSS"></div>
    <div class="technology-logo"><img src="html-logo.png" alt="HTML"></div>
    <div class="technology-logo"><img src="expressjs-logo.png" alt="Express.js"></div>
    <div class="technology-logo"><img src="graphql-logo.png" alt="GraphQL"></div>
    <div class="technology-logo"><img src="typescript-logo.png" alt="TypeScript"></div>
  </div>
  